<nav class="pt-2" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/myadmin/myMusic">My Music</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit A Song</li>
  </ol>
</nav>

<div class="container form-edit">
    <form method="post" action="/myadmin/myMusic/{{song.name}}?_method=PUT">
        <div class="row mb-4">
            <div class="col">
                <label class="text-dark" for="name">
                    <i class="fa-solid fa-file-signature text-danger"></i>
                    Name
                </label>
                <input value="{{song.name}}" name="name" type="text" id="name" class="form-control" placeholder="Song Name" required="required">
            </div>
            <div class="col">
                <label class="text-dark" for="author">
                    <i class="fa-solid fa-user-secret text-success"></i>
                    Author
                </label>
                <input value="{{song.author}}" name="author" type="text" id="author" class="form-control" placeholder="Author" required="required">
            </div>
        </div>
        <div class="form-group">
            <label class="text-dark" for="description">
                <i class="fa-solid fa-file-lines text-info"></i>
                Description
            </label>
            <textarea style="width: 100%;" name="description" id="description" rows="3" placeholder="Description" required="required">{{song.description}}</textarea>
        </div>
        <div class="form-group">
            <label class="text-dark" for="image">
                <i class="fa-solid fa-images text-warning"></i>
                Image
            </label>
            <input value="{{song.image}}" name="image" type="text" class="form-control" id="image" required="required">
        </div>
        <div class="form-group">
            <label class="text-dark" for="mp4">
                <i class="fa-solid fa-photo-film text-primary"></i>
                Link Mp4
            </label>
            <input value="{{song.mp4}}" name="mp4" type="text" class="form-control" id="mp4" required="required">
        </div>

        <button class="btn btn btn-danger float-right">
            <i class="fa-solid fa-wrench text-warning"></i>
            Update The Song
            </button>
    </form>
</div>