<nav class="mt-2" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/myadmin">Admin Page</a></li>
        <li class="breadcrumb-item active" aria-current="page">My Music</li>
    </ol>
</nav>
<div class="container">
    <table class="table table-warning">
        <thead class="thead-light">
            <tr>
                <th class="bg-default" scope="col">Number</th>
                <th class="bg-primary text-white" scope="col">Name</th>
                <th class="bg-success text-white" scope="col">Author</th>
                <th class="bg-danger text-white" colspan="4" scope="col">Created At</th>
            </tr>
        </thead>
        <tbody>
            {{#each songs}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td class="font-weight-bold">{{this.name}}</td>
                <td>{{this.author}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/song/{{this.name}}" class="btn btn-success">View</a>
                </td>
                <td>
                    <a href="/myadmin/myMusic/edit/{{this.name}}" class="btn btn-warning">Edit</a>
                </td>
                <td>
                    <a href="" class="btn btn-danger">Remove</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>