<nav class="mt-2" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/myadmin">Admin Page</a></li>
        <li class="breadcrumb-item active" aria-current="page">My Music</li>
    </ol>
</nav>
<div class="container">
    <table class="table table-warning">
        <thead class="thead-light">
            <tr>
                <th class="bg-default" scope="col">Number</th>
                <th class="bg-primary text-white" scope="col">Name</th>
                <th class="bg-success text-white" scope="col">Author</th>
                <th class="bg-danger text-white" colspan="4" scope="col">Created At</th>
            </tr>
        </thead>
        <tbody>
            {{#each songs}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td class="font-weight-bold">{{this.name}}</td>
                <td>{{this.author}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/song/{{this.name}}" class="btn btn-success">View</a>
                </td>
                <td>
                    <a href="/myadmin/myMusic/edit/{{this.name}}" class="btn btn-warning">Edit</a>
                </td>
                <td>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#delete-modal"
                        data-id="{{this._id}}">Remove</button>
                </td>
            </tr>

            {{else}}
            <tr>
                <td colspan="4" class="text-center">
                    <span>You dont' create any music</span>
                    <a href="/myadmin/create">Create now !</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div class="container text-center">
    <a href="/myadmin/myMusic/trash" type="button" class="btn btn-warning">
        <i class="fa-solid fa-trash mr-2 text-white"></i>
        Recycle Bin
        <span class="badge badge-light">{{this.deletedCount}}</span>
    </a>
</div>

<!-- Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="exampleModalLabel">WARNING !</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to delete ?
            </div>
            <div class="modal-footer">
                <button id="btn-delete" type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

{{!-- Form Delete --}}
<form name="form-delete" method="post" action=""></form>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        var songId;
        var btnDelete = $('#btn-delete');
        var formDelete = document.forms['form-delete'];

        $('#delete-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            songId = button.data('id') // Extract info from data-* attributes
            console.log(songId)
        });

        btnDelete.click(() => {
            formDelete.action = '/myadmin/myMusic/' + songId + '?_method=DELETE';
            formDelete.submit();
        })
    })
</script>