<nav class="pt-2" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/myadmin">Admin Page</a></li>
        <li class="breadcrumb-item"><a href="/myadmin/myMusic">My Music</a></li>
        <li class="breadcrumb-item active" aria-current="page">Trash</li>
    </ol>
</nav>
<div class="container py-4">
    <table class="table table-warning">
        <thead class="thead-light">
            <tr>
                <th class="bg-default" scope="col">Number</th>
                <th class="bg-primary text-white" scope="col">Name</th>
                <th class="bg-success text-white" scope="col">Author</th>
                <th class="bg-danger text-white" colspan="4" scope="col">Deleted At</th>
            </tr>
        </thead>
        <tbody>
            {{#each songs}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td class="font-weight-bold">{{this.name}}</td>
                <td>{{this.author}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <button class="btn btn-warning btn-restore" data-id="{{this._id}}">Restore</button>
                </td>
                <td>
                    <a href="" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal" data-id="{{this._id}}">Permanently Deleted</a>
                </td>
            </tr>

            {{else}}
            <tr>
                <td colspan="4" class="text-center">The trash is empty</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="exampleModalLabel">WARNING !</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Do you want to delete ?
            </div>
            <div class="modal-footer">
                <button id="btn-delete" type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

{{!-- Form-restore --}}
<form name="form-restore" method="post" action=""></form>
{{!-- Form-delete --}}
<form name="form-delete" method="post" action=""></form>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        var songId; 
        var btnRestore = $('.btn-restore');
        var formRestore = document.forms['form-restore'];
        var btnDelete = $('#btn-delete');
        var formDelete = document.forms['form-delete'];

        $('#delete-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            songId = button.data('id') // Extract info from data-* attributes
        });

        btnDelete.click(function () {
            formDelete.action = '/myadmin/myMusic/deleteForce/' + songId + '?_method=DELETE'
            formDelete.submit();
        });

        btnRestore.click(function () {
            var songId = $(this).data('id');
            formRestore.action = '/myadmin/myMusic/restore/' + songId + '?_method=PATCH';
            formRestore.submit();
        })
    })
</script>