<div class="container-fluid bg-white py-4">
    <div class="container">
        {{#if message}}
        <div class="alert alert-{{type}}" role="alert">
            <strong>{{intro}}</strong>{{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{/if}}
    </div>
    <div class="text-center">
    <Strong class="text-primary" style="font-size: x-large;">Verify Account</Strong>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form method="post" style="border-top-left-radius: 4px; border-top-right-radius: 4px;" class="mt-4 bg-dark px-4 pb-2 pt-4">
                <div class="form-group mb-0">
                    <label class="text-white" for="name">Enter Your Name</label>
                    <div class="d-flex">
                        <input {{#if user}} disabled placeholder="{{user.name}}" {{/if}} required="required" name="name" type="text" class="form-control" id="name" aria-describedby="emailHelp"placeholder="Your name">
                        <button {{#if user}} disabled="disable" {{/if}} class="btn-sm px-4 py-2 ml-2 btn-info" type="submit">Verify</button>
                    </div>
                    <small class="form-text text-warning message-verify ">Please fill out this field to verify your account</small>
                    <small class="form-text text-success message-success d-none">Verify Account Successfully</small>
                </div>
            </form>
            <form method="post" action="/forgot/{{user.email}}/update?_method=PATCH" id="form-change-password" style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;" class=" px-4 bg-dark pb-4 d-none">
                <div class="form-group">
                    <label class="text-white" for="newPassword">New Password</label>
                    <input name="password" type="password" class="form-control" id="newPassword" placeholder="Password" required="required">
                </div>

                <div class="form-group">
                    <label class="text-white pt-2" for="confirmPassword">Confirm Password</label>
                    <input name="confirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="Confirm password" required="required">
                </div>
                <button id="btn-submit" type="submit" class="btn btn-primary">Change Password</button>
            </form>    
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var formChangePassword = $('#form-change-password');
        var messageVerify = $('.message-verify');
        var messageSuccess = $('.message-success');
        

        var cookies =document.cookie
        .split(';')
        .map(cookie => cookie.split('='))
        .reduce((accumulator, [key, value]) => 
            ({ ...accumulator, [key.trim()]: decodeURIComponent(value)}), {})

        if (cookies.vrfsc) {
        formChangePassword.removeClass('d-none');
        messageVerify.addClass('d-none');
        messageSuccess.removeClass('d-none');
        }
    })
</script>