<nav class="music-breadcrumb pt-2" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
      Song List. Have A Nice Day 
      <span class="text-danger">{{user.name}}</span>
    </li>
  </ol>
</nav>

<div class="container mb-4">
  <div class="row d-flex justify-content-start">
    {{#each songs}}
    <div class="col col-md-4 col-lg-3 col-xl-3">
      <div class="card card-song mt-4">
        <img class="card-img-top img-song" src="/media/uploads/{{this.image}}" alt="{{this.name}}"
          title="{{this.name}}">
        <div class="card-body">
          <h5 title="{{this.name}}" class="card-title title-song text-capitalize">{{this.name}}</h5>
          <p class="card-text desc-song">{{this.description}}</p>
          <a href="/song/{{this.name}}" class="btn btn-primary container-fluid">Listen Now</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

{{!-- pagination --}}
<div class="container d-flex justify-content-center">
  <nav style="width: fit-content;" aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    {{#times pageNumber}}
    <li class="page-item"><a class="page-link" href="/?page={{this}}">{{this}}</a></li>
    {{/times}}
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
</div>