<nav class="music-breadcrumb mt-4" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Song List. Have A Nice Day !</li>
  </ol>
</nav>

<div class="row d-flex justify-content-center">
  {{#each songs}}  
  <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2">
    <div class="card card-song">
      <img class="card-img-top img-song" src="/media/img/{{this.image}}" alt="{{this.name}}" title="{{this.name}}">
      <div class="card-body">
        <h5 title="{{this.name}}" class="card-title title-song">{{this.name}}</h5>
        <p class="card-text desc-song">{{this.description}}</p>
        <a href="/song/{{this.name}}" class="btn btn-primary container-fluid">Listen Now</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>