<div style="background-color: coral;" class="container-fluid p-0">
  <nav class="pt-2" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Listen Song</li>
  </ol>
</nav>

<div class="container-fluid">
  {{#if message}}
  <div class="alert alert-{{type}}" role="alert">
    <strong>{{intro}}</strong>{{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {{/if}}
</div>

<h3 class="title-detail-song">{{song.name}}<span class="badge badge-danger badge-song">New</span></h3>

<div class="container mb-4">
  <div class="row">
    <div style="background-image: url('https://th.bing.com/th/id/OIP.twTkvLvbcbxLfGaQ5fJH5wHaEo?w=247&h=180&c=7&r=0&o=5&pid=1.7');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
    " class="p-4 col-lg-12 col-md-12 col-sm-12 ">

      <iframe width="100%" height="600" src="{{song.mp4}}?rel=0" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
  </div>

  <div class="p-4 mt-2 rounded" style="background-color: beige;">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-end">
        <h3 class="text-danger">{{song.name}}</h3>
        <h4 class="text-success"><span class="text-dark">&nbsp;|&nbsp;</span>{{song.author}}</h5>
      </div>
      <div>
        <a class="mr-2" href="">
          <i class="fa-regular fa-thumbs-up"></i>
          Like
        </a>
        <a class="mr-2 text-danger" href="">
          <i class="fa-regular fa-thumbs-down"></i>
          Dislike
        </a>
        <a class="text-success" href="#comment">
          <i class="fa-regular fa-comments"></i>
          Comment
        </a>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <small class="text-muted font-italic">{{song.createdAt}}</small>
      <small class="text-info">
        <span class="text-muted">Author:&nbsp;</span>
        Văn Huy Adminitrator
      </small>
    </div>
    <div class="lyric-container">
      <p id="lyric" class="mb-0 py-4 text-secondary font-bold song-lyric limited">{{song.description}}</p>
      <i id="down-btn" class="fa-solid fa-angle-down lyric-more"></i>
      <i hidden id="up-btn" class="fa-solid fa-angle-up lyric-more"></i>
    </div>
  </div>


  <br>

  <div class="container pb-4 px-0">
  <h5 class="text-white">Some songs may you like listening:</h5>
  <div class="row">
    {{#each songs}}
    <div class="col-sm-3">
      <a href="/song/{{this.name}}" class="card mt-4 detail-card">
        <img class="img-song card-img-top" src="{{this.image}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title title-song">{{this.name}}</h5>
          <p class="card-text desc-song-detail">{{this.description}}</p>
        </div>
      </a>
    </div>
    {{/each}}
  </div>
  </div>
</div>  

{{!-- comment --}}
<section id="comment" style="background-color: #ff7f50;">
  <div class="container py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="card">

          <div class="comment-wrapper">
            {{#each comments}}
            <div class="card-body comment-item">
              <div class="d-flex flex-start align-items-center">
                <div style="width: 60px; height: 60px;">
                  <img style="width: 100%; height: 100%; object-fit: cover;" class="rounded-circle shadow-1-strong me-3"
                    src="/media/users/{{this.userId.avatar}}" alt="avatar" />
                </div>

                <div class="ml-2">
                  <h6 class="fw-bold text-primary mb-1">{{this.userId.name}}</h6>
                  <p class="text-muted small mb-0">
                    {{this.updatedAt}}
                  </p>
                </div>
              </div>

              <p style="margin-left: 3.6rem;" class="mt-3 mb-4 pb-2">
                {{this.content}}
              </p>

              <div class="small d-flex justify-content-start">
                <a href="#!" class="d-flex align-items-center me-3 ml-3">
                  <i class="mr-2 far fa-thumbs-up me-2"></i>
                  <p class="mb-0">Like</p>
                </a>
                <a href="#!" class="d-flex align-items-center me-3 ml-3 text-success">
                  <i class="mr-2 far fa-comment-dots me-2"></i>
                  <p class="mb-0">Comment</p>
                </a>
                <a href="#!" class="d-flex align-items-center me-3 ml-3 text-danger btn-delete"
                  data-commentId="{{this._id}}">
                  <i class="fa-regular fa-trash-can mr-2"></i>
                  <p class="mb-0">Delete</p>
                </a>
              </div>
            </div>
            {{else}}
            <div
              style="height: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column;">
              <h6>Don't have any comments for this song</h6>
              <small class="text-success font-italic">Let's the first to comment about this song</small>
            </div>
            {{/each}}
          </div>

          <div class="card-footer py-4 border-0" style="background-color: #e5e5e5;">
            <div class="d-flex flex-start w-100">
              <div style="width: 45px; height: 45px; margin-right: 12px;">
                <img style="width: 100%; height: 100%; object-fit: cover;"
                  class="rounded-circle shadow-1-strong me-3 mr-2 boder" src="/media/users/{{user.avatar}}"
                  alt="avatar" />
              </div>
              <form name="form-submit" method="post" class="form-outline w-100">
                <textarea class="form-control" id="textAreaExample" rows="4" style="background: #fff;"
                  placeholder="Write comment here......" name="comment" required="required"></textarea>
                <div class="text-right mt-4">
                  <button id="btn-submit" type="submit" class="btn btn-danger btn-md ml-4">Post comment</button>
                </div>
              </form>
            </div>
            <div class="text-right mt-2 pt-1">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
</div>

{{!-- form-delete --}}
<form method="post" name="form-delete"></form>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var formSubmit = document.forms['form-submit'];
    var btnDelete = $('.btn-delete');
    var formDelete = document.forms['form-delete'];
    var downBtn = $('#down-btn');
    var upBtn = $('#up-btn');
    var lyric = $('#lyric');

    btnDelete.click(function () {
      var commentId = $(this).attr('data-commentId');
      formDelete.action = '/song/' + commentId + '?_method=DELETE';
      formDelete.submit();
    })

    downBtn.click(function () {
      lyric.removeClass('limited');
      downBtn.attr('hidden', true);
      upBtn.removeAttr('hidden');
    })

    upBtn.click(function () {
      lyric.addClass('limited');
      downBtn.removeAttr('hidden');
      upBtn.attr('hidden', true);
    })
  })
</script>