<nav class="mt-4" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Listen Song</li>
    </ol>
</nav>

<h3 class="title-detail-song">{{song.name}}<span class="badge badge-danger badge-song">New</span></h3>

<div class="container mb-4">
    <video poster="/media/uploads/{{song.image}}" width="100%" height="100%" controls>
        <source src="/media/uploads/{{song.mp4}}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <br>

    <div class="d-flex align-items-end title-detail-sm-song">
        <h4 class="text-warning">{{song.name}}</h4>
        <h5>&nbsp;| {{song.author}}</h5>
    </div>
    <h5 class="title-detail-sm-song">You also listen Audio here: <b style="color: #f40707;">{{song.name}}</b></h5>
    <audio class="container-fluid" controls>
        <source src="/media/uploads/{{song.mp3}}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</div>

<div class="container mb-4">
    <h5 class="text-white">Some songs may you like listening:</h5>
    <div class="row">
        {{#each songs}}
        <div class="col-sm-3">
            <a href="/song/{{this.name}}" class="card mt-4 detail-card">
                <img class="img-song card-img-top"src="/media/uploads/{{this.image}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title title-song">{{this.name}}</h5>
                    <p class="card-text desc-song-detail">{{this.description}}</p>
                </div>
            </a>
        </div>
        {{/each}}
    </div>
</div>